.container {
  /* padding: 0 2rem; */
  height: 100vh;
  /* position: relative; */
}

.chainErrorLoading {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.container p {
  padding: 0;
  margin: 0;
}

/* Navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #cdccd8;
}

.navbarLeft {
  display: flex;
  justify-content: space-between;
}

.portfolio {
  color: #040404;
  font-weight: bold;
  font-size: 25px;
}

.totalBalanceContainer {
  background-color: #f6f8ff;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-left: 40px;
}

.totalBalanceText {
  color: #9392b6;
}

.totalBalanceValue {
  color: #1e1d23;
}

.totalBalancePercent {
  color: #9bcab6;
  margin-left: 10px;
}

.verticalRule {
  display: inline-block;
  border-left: 3px solid #d1d3e4;
  height: 30px;
  margin: 0 20px;
}

.metamaskIconContainer {
  flex: 1;
  background-color: #6a84db;
  padding: 0 10px;
  border-radius: 5px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.accountContainer {
  flex: 1;
  background-color: #f6f8ff;
  padding: 5px 10px;
  font-size: 20px;
  color: #aaacc4;
  border-radius: 5px;
}

.profileContainer {
  display: flex;
  align-items: stretch;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Staking */
.stakingCard {
  border: 2px solid #ececf5;
}

.stakingImgContainer {
  position: relative;
  padding: 25px;
  margin: 10px;
}

.stakingTitle {
  color: #4b4953;
  font-weight: 600;
  font-size: 21px;
}

.stakingHeader {
  display: flex;
  align-items: center;
  background-color: #f6f8ff;
  border-bottom: 2px solid #ececf5;
}

.stakingBodyContainer {
  padding: 30px 20px;
  background-color: #f6f8ff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #ececf5;
}

.stakeBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
}

.withdrawBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.stakingDescription:first-of-type {
  margin-bottom: 25px;
}

.stakeSubtitle {
  color: #7e7f87;
  font-size: 15px;
  font-weight: 600;
}

.stakeValue,
.earnedValue {
  /* font-size: 20px; */
  font-weight: bold;
}

.stakeValue {
  color: #212328;
}

.earnedValue {
  color: #9ca0c8;
}

.stakeBtn:hover {
  color: #d8d8e9;
  background-color: #5c68ce;
  border: 2px solid #5c68ce;
}

.stakeBtn,
.withdrawBtn,
.selectWalletBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 0;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s all;
}

.withdrawBtn:hover,
.selectWalletBtn:hover {
  background-color: #0e1f8c;
  border: 2px solid #0e1f8c;
}

.selectWalletBtn {
  background-color: #5868ce;
  color: #cad9ff;
  border: 2px solid #5868ce;
  padding: 5px 15px;
}

.withdrawBtn {
  background-color: #5868ce;
  color: #cad9ff;
  border: 2px solid #5868ce;
}

.stakeBtn {
  background-color: transparent;
  color: #8487ba;
  border: 2px solid #d8d8e9;
}

.stakingFooter {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  align-items: center;
}

.hambMenu {
  font-size: 30px;
}

.stakedLogoContainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin: 20px; */
}

.stakedLogo {
  font-size: 30px;
  margin-left: 20px;
}

.sidebarContentWrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebarContainer {
  background-color: #5768cb;
  padding: 2rem;
  height: 100vh;
  position: relative;
  color: #fff;
}

.menusContainer {
  margin-top: 75px;
}

.menuOptionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #5768cb;
  padding: 13px;
  border-radius: 15px;
  font-size: 20px;
}

.menuText {
  margin-left: 10px;
}

/* Staking Content */
.stakingContainer {
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 1200px) {
  .stakingContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .stakingContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
